@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* repeted style */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  background-color: var(--secound-color);
}

/* variable */

:root {
  /* color */
  --first-color: #bebebe;
  --secound-color: #161616;
  --text-color: #333333;
  --cube-color: #a6e6d4;
  --button-color: #4b4b4b;
  --hover-color: #f2c83d;

  /* font size */
  --big-font-size: 600;
  --nrmal-font-size: 500;
  --text-font-size: 300;

  /* width */
  --title-width: 4rem;
  --subtitle-width: 2rem;
}

/* //// header //// */
/* ================================== */

.Home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--secound-color);
  position: relative;
}

.logo {
  margin: 20px 40px;
  width: 2.5em;
}

.home__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 5%;
  left: 90%;
}

.menu__description {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 0.7em;
  color: var(--cube-color);
}

.line {
  width: 2px;
  height: 40px;
  background-color: var(--cube-color);
  margin-top: 24px;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  position: relative;
}

.home__title {
  text-align: center;
  border-radius: 10px;
}
.bounce {
  color: #fff;
}

.bounce:hover {
  color: var(--cube-color);
}

.home__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transition: 1s;
  color: var(--cube-color);
}

.home__scroll:hover {
  transform: translateY(20px);
  font-size: 0.6rem;
  color: var(--cube-color);
}

.scroll__title {
  color: var(--cube-color);
  font-size: 0.7rem;
  transition: 1s ease-in-out;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

/* choise */
/* =================== */
.choise {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.choise__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.influencer__side {
  width: 100%;
  height: 50vh;
  background-image: url(./components/assets/img/influe.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job__side {
  width: 100%;
  height: 50vh;
  background-position: 50% 60%;
  background-image: url(./components/assets/img/company.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choise__button {
  color: white;
  background-color: #a6e6d450;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.choise__button:hover {
  background-color: var(--cube-color);
  border-radius: 40px;
}

/* //// artists //// */
/* =============================== */
.artists {
  margin-bottom: 4rem;
}

.artists__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artists__title {
  margin-top: 40px;
  color: var(--cube-color);
}

.artists__line {
  background-color: var(--cube-color);
  width: 50px;
  height: 2px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 40px;
}

.artists__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* influencer sub section */

.sub {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.sub__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.sub__title {
  color: var(--cube-color);
}

.sub__line {
  width: 40px;
  height: 2px;
  background-color: var(--cube-color);
  margin-right: 10px;
  margin-left: 10px;
}

.sub__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sub__inputs {
  background-color: var(--first-color);
  border: none;
  margin: 20px 0 0 40px;
  padding: 5px 10px;
  border-radius: 4px;
}

.sub__description {
  background-color: var(--first-color);
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 4px;
  padding: 5px 10px;
}

.sub__button {
  background-color: var(--first-color);
  border: none;
  margin-left: 40px;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  color: var(--secound-color);
}

/* footer section */

textarea::placeholder,
input::placeholder {
  color: var(--secound-color);
}

@media screen and (min-width: 600px) {
  .home {
    width: 100%;
    position: relative;
  }

  .home__logo {
    position: absolute;
    top: 2%;
    left: 5%;
  }

  .logo {
    width: 9vw;
  }

  .home__menu {
    position: absolute;
    top: 5%;
    left: 95%;
  }

  .home__content {
    position: absolute;
    top: 30%;
    left: 43%;
  }

  .home__title {
    font-size: 2rem;
  }
  /* choise */

  .choise__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .influencer__side,
  .job__side {
    height: 100vh;
    margin-bottom: 4rem;
  }
  /* artist side */
  .artists {
    margin-top: 4em;
  }
  .artists__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .artists__card {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40vh;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
  }
  .artists__card:hover {
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.46);
    cursor: pointer;
  }

  .mounir {
    background-image: url(./components/assets/img/mounir_bouhi.png);
    background-size: cover;
  }

  .zakaria {
    background-image: url(./components/assets/img/zakaria_karaouet.png);
    background-size: cover;
  }
  .nihad {
    background-image: url(./components/assets/img/nihad_andelaziz.png);
    background-size: cover;
  }
  .Abdelwahab {
    background-image: url(./components/assets/img/abdelwahab_hamma.png);
    background-size: cover;
  }
  .abdnour {
    background-image: url(./components/assets/img/abdnour_bendjeddou.png);
    background-size: cover;
  }
  .karim {
    background-image: url(./components/assets/img/karim_semcha.png);
    background-size: cover;
  }

  .lemkach {
    background-image: url(./components/assets/img/lemkach_red.png);
    background-size: cover;
  }

  .lyna {
    background-image: url(./components/assets/img/lyna_aridj.png);
    background-size: cover;
  }

  .maome {
    background-image: url(./components/assets/img/maome_moha_oughlis.png);
    background-size: cover;
  }

  .yousra {
    background-image: url(./components/assets/img/yousra_azeb.png);
    background-size: cover;
  }

  .daston {
    background-image: url(./components/assets/img/dastan_gramm.png);
    background-size: cover;
  }
  .yara {
    background-image: url(./components/assets/img/yaramammo.png);
    background-size: cover;
  }

  .card__img {
    height: 100%;
    width: 40%;
    align-self: flex-end;
  }

  .card__title {
    color: var(--secound-color);
    position: absolute;
    top: 85%;
  }

  .sub__container {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .sub__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sub__information {
    width: 100%;
    display: flex;
    flex-direction: columns;
    align-items: center;
    justify-content: center;
  }

  .sub__inputs {
    width: 50%;
    height: 3em;
    margin-bottom: 2em;
  }

  .sub__description {
    width: 50%;
    height: 10em;
  }

  .sub__button {
    background-color: var(--cube-color);
    width: 6em;
  }
}
